.small-button {
    padding: 8px 16px; /* Reduce el padding del botón */
    font-size: 24px;  /* Reduce el tamaño del texto */
    height: 60px;     /* Ajusta la altura del botón */
    width: auto;      /* Ajusta el ancho para que se adapte al contenido */
  }