main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "aside header header header header"
    "aside section section section section"
    "footer footer footer footer footer";
    row-gap: 0;
    column-gap: 0;
    grid-template-rows: 20% 1fr 10%; /* Cambié 70% a 1fr para asegurar que el footer esté en la parte inferior */
    height: 98vh;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;

}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
    width: 100%; /* Asegura que el footer ocupe toda la anchura */
    background-color: #f0f8ff; /* Color de fondo para el footer (opcional) */
    padding: 1rem 0; /* Espaciado en el footer */
    border-top: 1px solid #e0e0e0; /* Línea superior (opcional) */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}
