.header-container {
    display: flex;
    justify-content: flex-end; /* Alinea todo a la derecha */
    align-items: center;        /* Centra verticalmente los elementos */
    background-color: #ffffff;  /* Fondo blanco */
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    gap: 1rem;           /* Espacio entre la navegación y el ícono */
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1rem;                 /* Espacio entre los enlaces */
    margin: 0;
    padding: 0;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
}

.nav-bar a:hover {
    color: #007BFF;
}

.icon-img {
    height: 50px;
    width: auto;
    padding: 0.5rem;
}
