.header-container {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* Fondo blanco */
    padding: .5rem;
    border-bottom: 2px solid #9bd2ff;
    
}

.logo-section, .title-section, .user-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section {
    flex: 1;
}

.logo-img {
    height: 70px;
    width: auto;
    padding: 0.5rem;
}

.title-section {
    flex: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title-section h1 {
    color: #34495e; /* Color de texto invertido */
    font-size: 1.8rem;
    margin: 0;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
    color: #34495e; /* Color de subtítulo invertido */
    font-size: 1rem;
    font-style: italic;
    margin-top: 0.2rem;
}

.user-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.user-icon {
    height: 50px;
    width: auto;
    border-radius: 50%;
    background-color: #ffffff; /* Fondo blanco para el icono */
    padding: 0.5rem;
}

.username {
    color: #34495e; /* Color de texto invertido */
    font-size: 1rem;
    font-weight: 600;
}

.icon-img {
    height: 70px;  /* Tamaño consistente para ambos iconos */
    width: auto;
    padding: 0.5rem;
}
