<div class="grid h-full bg-blue-50  border-t border-gray-200">
    <div class="col-12 flex flex-wrap align-items-center justify-content-center">
        <p class="text-xs text-blue-700 mr-2">
            © 2024 Gestion Inventario
        </p>
        <div class="flex gap-3 ml-2">
            <a href="https://facebook.com" target="_blank" class="text-blue-700 hover:text-blue-500">
                <i class="pi pi-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="text-blue-700 hover:text-blue-500">
                <i class="pi pi-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="text-blue-700 hover:text-blue-500">
                <i class="pi pi-instagram"></i>
            </a>
            <a href="https://linkedin.com" target="_blank" class="text-blue-700 hover:text-blue-500">
                <i class="pi pi-linkedin"></i>
            </a>
        </div>
    </div>
</div>
