<p-card class="w-20 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between items-center">
            <h3 class="ml-4 text-xl font-semibold text-gray-800">Inventory Records</h3>
            <div class="mt-2">
                <a 
                    pButton 
                    pRipple
                    label="Create Inventory"
                    icon="pi pi-plus"
                    class="bg-cyan-600 text-white hover:bg-cyan-700 px-4 py-2 rounded-md"
                    [ngStyle]="{'text-decoration': 'none'}" 
                    [routerLink]="['/inventarios/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>
    <p>
        <p-table [value]="inventarios" class="custom-table" [rows]="10" [paginator]="true" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Product</th>
                    <th>Movement Type</th>
                    <th>Quantity</th>
                    <th>Movement Date</th>
                    <th>Remarks</th>
                    <th class="flex justify-content-center flex-wrap">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inventario>
                <tr>
                    <td>{{ inventario.product.name }}</td>
                    <td>{{ inventario.movement_type }}</td>
                    <td>{{ inventario.quantity }}</td>
                    <td>{{ inventario.movement_date | date }}</td>
                    <td>{{ inventario.remarks }}</td>
                    <td class="flex justify-content-center space-x-2">
                        <!-- Botón de editar -->
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="small-button p-button-rounded p-button-text"
                            [ngStyle]="{'text-decoration': 'none'}" 
                            [routerLink]="['/inventarios/edit', inventario.id]">
                            
                        </a>
                        
                        <!-- Botón de eliminar -->
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-trash"
                            class="small-button p-button-rounded p-button-text"
                            (click)="confirmarEliminacion(inventario.id)">
                            
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
    <p-confirmDialog></p-confirmDialog>
</p-card>
