<p-card header="Editar inventarios" [style]="{ width: '100%' }">
  <ng-template pTemplate="header"></ng-template>
  <div>
    <form [formGroup]="inventarioForm" novalidate (ngSubmit)="actualizarInventario()" class="p-3 bg-faded">
      <div class="grid">
        <!-- Campo Producto -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-box"></i></span>
            <p-treeSelect
              class="md:w-10rem w-12"
              containerStyleClass="w-12"
              [options]="Product"
              formControlName="producto"
              placeholder="Seleccione un producto"
              [showClear]="true"
              selectionMode="single">
            </p-treeSelect>
          </div>
        </div>

        <!-- Campo Entrada/Salida -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input pInputText id="tipo_movimiento" formControlName="tipo_movimiento" placeholder="Entrada/Salida" />
          </div>
        </div>

        <!-- Campo Cantidad -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input pInputText id="cantidad" formControlName="cantidad" type="number" placeholder="Cantidad" />
          </div>
        </div>

        <!-- Campo Fecha de Movimiento -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-fw pi-calendar"></i></span>
            <input pInputText id="fecha_movimiento" formControlName="fecha_movimiento" type="date" />
          </div>
        </div>

        <!-- Campo Observaciones -->
        <div class="col-12 sm:col-12">
          <div class="p-inputgroup mb-3">
            <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
            <textarea
              pInputTextarea
              id="observaciones"
              formControlName="observaciones"
              placeholder="Escribe aquí tus observaciones"
              rows="5"
              class="observaciones-textarea p-inputtext w-full"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Botones Guardar y Cancelar -->
      <div class="flex justify-content-center flex-wrap">
        <button pButton pRipple label="Guardar" icon="pi pi-save" severity="info" class="mr-4" type="submit"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times-circle" severity="warning" class="mr-4" type="button" routerLink="/inventarios"></button>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer"></ng-template>
</p-card>
