<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">Registro de Detalles de Facturas</h3>
            <div class="mt-2 mr-2">
                <a 
                    pButton 
                    pRipple
                    label="Crear Detalles Factura" 
                    icon="pi pi-user-plus"
                    class="bg-cyan-600"
                    [ngStyle]="{'text-decoration': 'none'}" 
                    [routerLink]="['/detalles_facturas/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>
    <p>
        <p-table [value]="detallesfacturas">
            <ng-template pTemplate="header">
                <tr>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                    <th>Factura</th>
                    <th>Producto</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detallesfacturas>
                <tr>
                    <td>{{ detallesfacturas.cantidad }}</td>
                    <td>{{ detallesfacturas.precio_unitario }}</td>
                    <td>{{ detallesfacturas.subtotal }}</td>
                    <!-- <td>{{ detallesfacturas.factura }}</td> -->
                    <td>{{ detallesfacturas.descripcion }}</td>
                    <td>{{ detallesfacturas.producto.nombre }}</td>
                    <td class="flex justify-content-center flex-wrap">
                        <a 
                        pButton 
                        pRipple
                        icon="pi pi-sync"
                        severity="warning"
                        class="mr-1 small-button"
                        [ngStyle]="{'text-decoration': 'none'}" 
                            [routerLink]="['/detalles_facturas/edit', detallesfacturas.id]">
                          
                        </a>
                        <button 
                        pButton 
                        pRipple
                        severity="danger"
                        icon="pi pi-eraser"
                        class="mr-1 small-button"
                            (click)="eliminar(detallesfacturas.id)">
                        
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
    <p-confirmDialog></p-confirmDialog>
</p-card>



