<p-card header="Edit Product" [style]="{ width: '100%' }">
    <ng-template pTemplate="header">

    </ng-template>
    <div>
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">

            <div class="grid">
                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-receipt"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="name"
                            placeholder="Product Name" title="Product Name">
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-fw pi-qrcode"></i></span>
                        <p-treeSelect class="md:w-10rem w-12" containerStyleClass="w-12" [options]="categories"
                            formControlName="category" placeholder="Select a Category" [showClear]="true"
                            selectionMode="single">
                        </p-treeSelect>
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1 ">
                        <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="description"
                            placeholder="Product Description" title="Product Description">
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="price"
                            placeholder="Product Price" title="Product Price">
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-cart-minus"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="current_stock"
                            placeholder="Current Stock" title="Current Stock">
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-cart-minus"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="minimum_stock"
                            placeholder="Minimum Stock" title="Minimum Stock">
                    </div>
                </div>
            </div>

            <div class="flex justify-content-center flex-wrap">
                <button 
                    pButton 
                    pRipple
                    label="Save"
                    icon="pi pi-save"
                    severity="info"
                    class="mr-4"
                    type="submit"
                ></button>

                <button 
                    pButton 
                    pRipple
                    label="Cancel"
                    icon="pi pi-times-circle"
                    severity="warning"
                    class="mr-4"
                    type="button"
                    (click)="cancel()"
                ></button>
           </div>

        </form>
    </div>
    <ng-template pTemplate="footer">

    </ng-template>
</p-card>
