<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">Registro de Producto</h3>
            <div class="mt-2 mr-2">
                <a 
                    pButton 
                    pRipple
                    label="Crear Producto" 
                    icon="pi pi-user-plus"
                    class="bg-cyan-600"
                    [ngStyle]="{'text-decoration': 'none'}" 
                    [routerLink]="['/productos/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>
    <p>
        <p-table [value]="productos">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Nombre</th>
                    <th style="text-align: center; vertical-align: middle;">Descripcion</th>
                    <th style="text-align: center; vertical-align: middle;">Precio</th>
                    <th style="text-align: center; vertical-align: middle;">Stock Actual</th>
                    <th style="text-align: center; vertical-align: middle;">Stock Minimo</th>
                    <th style="text-align: center; vertical-align: middle;">Categoria</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-productos>
                <tr>
                    <td style="text-align: center; vertical-align: middle;">{{ productos.nombre }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ productos.descripcion }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ productos.precio }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ productos.stock_actual }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ productos.stock_minimo }}</td>
                    <td>{{ productos.categoria.nombre}}</td>
                    <td class="flex justify-content-center flex-wrap">
                        <!-- <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        
                        </button> -->
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1 small-button"
                            [ngStyle]="{'text-decoration': 'none'}" 
                            [routerLink]="['/productos/edit', productos.id]">
                            
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1 small-button"
                            (click)="eliminar(productos.id)">
                        
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
    <p-confirmDialog></p-confirmDialog>
</p-card>



