.aside-container {
    height: 100%;                 /* Ocupa todo el alto de la pantalla */
    display: flex;
    flex-direction: column;        /* Coloca los elementos en columna */
    align-items: center;
    padding-top: 1.5rem;           /* Espacio superior */
    border-right: 1px solid #e2e8f0; /* Borde derecho sutil */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra en el lado derecho */
    margin-right: 5px;
}

.icon-container {
    margin-bottom: 2rem;           /* Espacio entre la imagen y el menú */
    transition: transform 0.3s;    /* Efecto de transición al hacer hover */
}

.icon-container:hover {
    transform: scale(1.05);        /* Agranda un poco la imagen al pasar el cursor */
}

.icon-img {
    width: 250px;                  /* Tamaño de la imagen */
    height: auto;
    border-radius: 1%;            /* Hace que la imagen sea circular */
}

.menu-container {
    width: 100%;                   /* Asegura que el menú ocupe el ancho disponible */
    padding: 0 1rem;               /* Espaciado lateral */
}

.menu-container .p-panelmenu-header-link {
    color: #1e3a8a;                /* Color del texto en tono azul oscuro */
    font-weight: 500;              /* Hace el texto un poco más grueso */
}

.menu-container .p-panelmenu-header-link:hover {
    color: #3b82f6;                /* Cambia a un azul más claro en hover */
}

.p-panelmenu {
    background-color: #1e3a8a ; /* Fondo azul oscuro */
    border: none; /* Sin borde */
    color: #ffffff; /* Texto blanco */
    width: 200px; /* Ancho del menú */
}